body{
    padding: 0;
    margin:0;
    position: fixed;
    font-family: 'Press Start 2P', cursive;
}

#carga{
    position: fixed;
    width: 100%;
    height: 100%;
    background: lightgray;
    z-index: 10000;
    color: white;
}

@keyframes cargado{
    from {
        background: lightgray;
    }
    to{
        background: transparent;
    }
}

#icon{
    text-align: center;
    margin-top: 20%; 
    animation: carga 1s linear infinite forwards;
}

@keyframes carga{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(4);
    }
    100%{
        transform: scale(0.1);
    }
}



/*#title,#color{
    margin: auto;
    position: fixed;
}*/
#op{
    position: fixed;
    color: rgba(0, 0, 0, 0.1);
    top:15%;
    left: 37%;
    font-size: 15px;
}

#options{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50000;
    color: white;
    text-align: justify;
    font-size: 35px;
    padding-top: 100px;
    padding-left: 15%; 
    list-style: none;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

#create-color-selector{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: fixed;
}

#color-selector{
    position: fixed;
    display: none;
}
.colors{
    display: inline-block;
    margin: 0;
}
.color{
    width: 20px;
    height: 20px;
}

#title{
    text-align: center;
    position: fixed;
    width: 100%;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.1);
    font-weight: 100;
    margin-top: 20%;
}

#color{
    position: fixed;
    /*border-radius: 200px;*/
    border: solid transparent 2px;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 10px auto 0 47%;
}

#pointer{
    z-index: 4000;
}

.canvas{
    position: absolute;
    top:80px;
    left:0;
    border: solid rgba(200, 200, 200, 0.1) 1px;
}